!!!
%html
  %head
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body
      %div.container
        %div.navbar.navbar-expand-lg.bg-secondary.text-white
          %h1.title BuRealtor

%h3{:id => "map"} Property Name: 2799 Broadway St

%img(src = "/1.jpg" )

%img(src="/2.jpg" )
%img(src = "/3.jpg" )

%img(src="/4.jpg" )
%img(src = "/5.jpg" )

%img(src="/6.jpg" )

%h5 
  %ul#details                 
  %lable
  Type:
  @property.type
  // Apartment               
  // = check_box_tag 'check' 
  // House                   
  // = check_box_tag 'check' 
    
%h5{:id =>"description"} 
  Description: 
The legendary Gold Coast of Pacific Heights is a serene enclave known for its majestic homes, notable residents and unrivaled views. Here, set high on a prime corner lot, this imposing mansion is the foremost offering in San Francisco today. Its panoramic views stretch from the nearby Presidio to the Golden Gate Bridge, spanning the bay, to the glittering Oakland hills. Masterfully engineered of concrete and steel and completed in 2004, the home boasts stellar construction and superb craftsmanship;

%h5
  %ul#details
  Fields: 
  %input{name: "rooms", type: "radio", value: "1 Bhk"}
  1 Bhk
  %input{name: "rooms", type: "radio", value: "2 Bhk"}
  2 Bhk
  %input{name: "rooms", type: "radio", value: "3 Bhk"}
  3 Bhk

%h5 Price: $1,000,000

%h5{:id => "map"} Map View
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyBwKfd3C_PY7eGDPTzqhtrVf6upm8-HgKM&q=2799 Broadway St,San Francisco, CA 94115", :style => "border:0", :width => "999"}



