!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "signUp.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .user
      %header.user__header
        %img{:alt => "", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg"}/
        %h1.user__title Sign Up here for BU realtor
      %form.form
        .form__group
          %input.form__input{:placeholder => "Username", :type => "text"}/
        .form__group
          %input.form__input{:placeholder => "Email", :type => "email"}/
        .form__group
          %input.form__input{:placeholder => "Password", :type => "password"}/
        %button.btn{:type => "button"} Register
