%html
    %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BuRealtor
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;900&display=swap", :rel => "stylesheet"}/
    %div
        %h2 Features (section link)
        %h2 How it Works (section link)

%div
%div 
= link_to 'Register or Log in with Github', '/auth/github'

%section
    %div.container
        %h1  Your residential properties best option
%section
    %div.container
        %h1 Features
        %p Manage all your residential properties in one platform
        %p Focus on building your portfolio
        %p Track the status of your portafolios
        %p Keep all your property information secured
        %p Real-time analytics of your real estate assets
        %p Request tenant payments - coming soon

%section
    %div.container
        %h1 How it Works
        %div.row
            %div.col-6 Sign up
            %div.col Add portfolio
            %div.w-100
            %div.col Add property
            %div.col Track 
//     %h1 How it Works
// %div.row
// %div.col-sm
// Sign Up
// %div
// %div.col-sm
// Add portafolio
// %div.col-sm
// Add property
// %div.col-sm
// Track your assets

%footer

// %h1 Welcome
// %div 
// = link_to 'Register or Log in with Github', '/auth/github'
// %div
// =link_to 'Register or Log In with Facebook', '/auth/facebook'
// %div
// %body


%footer Copyright@Binghamton University Spring 2020
